<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CvVideoCamera_Example.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>52225F241DA04F15005E9EF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52225F3D1DA04F15005E9EF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52225F481DA04F15005E9EF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
